[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter-dash = "*"

[packages]
pandas = "*"
plotly = "*"
dash = "*"
jupyter = "*"
dash-bootstrap-components = "*"
dash-core-components = "*"
tabula-py = "*"
requests = "*"
xlrd = "==1.2.0"
pdftotext = "*"
openpyxl = "*"
gunicorn = "*"
gevent = "*"
s3fs = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
