[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter-dash = "*"

[packages]
pandas = "*"
jupyter = "*"
tabula-py = "*"
requests = "*"
xlrd = "==1.2.0"
openpyxl = "*"
gevent = "*"
python-dotenv = "*"
boto3 = "*"
flask-caching = "*"
pdftotext = "*"

[requires]
python_version = "3.8"
