@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');

body {
    /* font-weight: 200 > light, 400 > regular, 500 > semibold, 700 > bold
     For details https://css-tricks.com/almanac/properties/f/font-weight/ */
    font-family: Lato, sans-serif;
    color: #4D4439;
    background-color: #EDF0F6;
    font-weight: 200;
}

h1 {
    color: #0079A4;
    font-size: 500%;
    font-weight: 500;
}

h2 {
    color: #0079A4;
    font-size: 300%;
    font-weight: 500;
}

h3 {
    color: #0079A4;
    font-size: 200%;
    font-weight: 500;
}

h4 {
    color: #0079A4;
    font-size: 150%;
    font-weight: 500;
}

h5 {
    color: #0079A4;
    font-size: 120%;
    font-weight: 500;
}

h6 {
    color: #0079A4;
    font-size: 100%;
    font-weight: 500;
}

#headline {
    width: 100%;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    vertical-align: middle;
    text-align: center;
    top: 0;
    z-index: 999;
    background: #EDF0F6;
}

#headline hr {
    color: #fff;
    margin: 0
}

#logo {
    margin-top: 4px;
    width: 5%;
    height: 5%;
    display: inline-block;
}

#app-title {
    margin-top: 10px;
    vertical-align: middle;
    margin-left: 30px;
    display: inline-block;
}

#tabs-global-overview {

}

.tab {
    height: 44px;
    border-bottom: 1px solid #d6d6d6 !important;
    padding: 6px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.tab-selected {
    border-top: 1px solid #121212 !important;
    border-bottom: 1px solid #d6d6d6 !important;
    background-color: #9AC1DC !important;
    color: #121212 !important;
    padding: 6px !important;
}

.daily-overview-figures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.daily-overview-single-figure {
    margin: 2%;
    background-color: ghostwhite;
    text-align: center;
    border: 1px solid #0079A4;
}

#data-sources-description-content {
    margin: 2% 3%;
}

#data-sources-description-content table {
    padding: 8px;
    background: #EFEFEF;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#data-sources-description-content th {
    background: #0079A4;
    color: white;
    padding: 8px;
}

#data-sources-description-content tr:nth-child(even){
    background-color: white;
}

#data-sources-description-content tr:hover {
    background-color: #ddd;
}

#data-sources-description-content td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    border-collapse: collapse;
    text-align: left;
}

#data-sources-description-content td:first-child{
    font-weight: bold;
    width: 20%;
}